:root {
	--main-color: #303030;
	--secondary-color: #555555;
	--accent-color: #ff6c00;
	--white: #fff;
	--dark-mode-main-color: #9da4bd;
	--main-font-family: "Open Sans", sans-serif;
	--secondary-font-family: "Raleway", sans-serif;
	--basic-margin: 20px;
}

body {
	font-family: var(--main-font-family);
	color: var(--main-color);
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

/* ================================== Classes ========================== */

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.menu {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
}

.suptitle {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;
}

.title {
	font-family: var(--secondary-font-family);
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
}

.subtitle,
.price-description {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ============================ HEADER ====================== */
.menu-nav {
	display: flex;
	align-items: center;
	padding: 32px 0;
}

.header-content {
	display: flex;
	background-color: lightgreen;

	align-items: center;
}

.header-logo {
	margin-right: 131px;
}

.menu-list {
	display: flex;
	gap: 30px;
}

.menu-link {
	color: var(--white);
}

.menu-link:hover,
.menu-link:focus,
.menu-email:hover,
.menu-email:focus {
	color: var(--accent-color);
}

.menu-item {
}

.menu-email {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--white);
	margin-left: auto;
	margin-right: 43px;
}

.button-cpa {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	padding: 12px 20px;
	min-width: 160px;
}

.button {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: var(--white);
}

.button-cpa:hover,
.button-cpa:focus {
	background-color: var(--accent-color);
}

/* ============================ HERO ====================== */

.hero {
}

.social-media-list {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.2em;
	width: 155px;
}

.social-media-item {
}

.social-media-link {
	color: var(--main-color);
}

.social-media-link:hover,
.social-media-link:focus {
	color: var(--accent-color);
}

.hero-container {
	display: flex;
}

.hero-content {
	padding: 272px 100px 208px;
	background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-1/slider-3.jpg);
	background-repeat: no-repeat;
	/* background-position: center; */
	flex-grow: 1;
}

.hero-suptitle {
	color: rgba(157, 164, 189, 0.6);
	margin-bottom: var(--basic-margin);
}

.hero-title {
	font-family: var(--secondary-font-family);
	font-size: 72px;
	line-height: 85px;
	color: var(--white);
	letter-spacing: 0.05em;
	margin-bottom: var(--basic-margin);
}

.hero-subtitle {
	color: var(--dark-mode-main-color);
	max-width: 360px;
}

/* ============================ ABOUT ====================== */

.about {
}

.about-container {
	display: flex;
}

.about-list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	width: 50%;
}

.about-item {
	flex-basis: calc((100% - 30xp) / 2);
}

.about-content {
	width: 50%;
	margin-left: 15px;
	max-width: 470px;
}

.about-suptitle {
	margin-bottom: var(--basic-margin);
}

.about-title {
	margin-bottom: var(--basic-margin);
}

.about-description {
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
	margin-bottom: 42px;
}

.about-subtitle {
	display: block;
	margin-bottom: var(--basic-margin);
}

.about-btn {
	color: var(--main-color);
}

/* ============================ PRICE ====================== */

.price {
	padding: 120px 0;
	background-color: aquamarine;
}

.price-suptitle {
	color: rgba(157, 164, 189, 0.6);
	margin-bottom: var(--basic-margin);
}

.price-title {
	color: var(--white);
	margin-bottom: 44px;
}

.price-content {
	display: flex;
	column-gap: 30px;
	margin-bottom: 44px;
}

.price-list {
	padding: 30px 20px;
	border: 1px solid green;
	background-color: #555555;
	flex-grow: 1;
}

.price-item {
	display: flex;
	justify-content: space-between;
}

.price-item:not(:last-child) {
	margin-bottom: var(--basic-margin);
}

.price-description {
	color: var(--white);
}

.price-service {
}

.price-money {
}

.price-button {
	display: block;
	margin: 0 auto;
}

/* ============================ WHY US ====================== */
.why-us {
}

.why-us-container {
	display: flex;
	justify-content: space-between;
}

.why-us-data {
}

.why-us-list {
	display: flex;
}

.why-us-item {
}

.why-us-number {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.05em;
}

.why-us-description {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-align: center;
}

.why-us-content {
	margin: 0 130px;
}

.why-us-suptitle {
	margin-bottom: var(--basic-margin);
}

.why-us-title {
	max-width: 430px;
	margin-bottom: var(--basic-margin);
}

.why-us-subtitle {
	color: var(--secondary-color);
	max-width: 500px;
	margin-bottom: 230px;
}

/* ============================ BARBERS ====================== */

.barbers {
	padding: 120px 0;
	background-color: #f7f7f7;
}

.barbers-container {
}

.barbers-suptitle {
	margin-bottom: var(--basic-margin);
}

.barbers-title {
	margin-bottom: 44px;
}

.barbers-list {
	display: flex;
	column-gap: 30px;

	flex-wrap: wrap;
}

.barbers-list-content {
	flex-basis: calc((100% - 60px) / 3);
}

.barber-list-pic {
}

.barbers-list-conainer {
	padding: 30px 82px 0;
}

.barbers-item {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	letter-spacing: 0.02em;
	padding-bottom: 8px;
}

.barbers-description {
	font-size: 14px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--accent-color);
	padding-bottom: 30px;
}

.barbers-social-list {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.barbers-social-item {
	width: 44px;
	height: 44px;
}

.barbers-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	color: black;
}

.barbers-social-link:is(:hover, :focus) {
	background-color: #9da4bd;
	color: var(--accent-color);
}

/* .barbers-social-link:is(:hover, :focus) .barbers-social-icon {
	fill: var(--accent-color);
} */

/* .barbers-social-icon:is(:hover, :focus) {
	fill: var(--accent-color);
} */

.barbers-social-icon {
	fill: currentColor;
}

/* ============================ GALLERY ====================== */

.gallery {
	padding-top: 120px;
	padding-bottom: 120px;
}

.gallery-suptitle {
	margin-bottom: 44px;
}

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.gallery-list-pic {
	flex-basis: calc((100% - 90px) / 4);
}

/* ============================ ONLINE-FORM ====================== */

.contacts-and-form-container {
	display: flex;
	justify-content: space-between;
}

.contacts-and-form {
	padding-top: 130px;
	padding-bottom: 120px;
	background-color: #191c26;
}

.booking-title {
	color: var(--white);
}

/* ============================ CONTACTS ====================== */

.contacts-title {
	color: var(--white);
	margin-bottom: 40px;
}

.contacts-address {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
}

.contacts-list {
	/* margin-bottom: 20px; */
}

.contacts-item:not(:last-child) {
	margin-bottom: 20px;
}

.contacts-item:last-child {
	margin-bottom: 70px;
}

.contacts-link {
	color: var(--dark-mode-main-color);
}

.phone,
.emial {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
}

.contacts-hours {
	color: var(--white);
	margin-bottom: var(--basic-margin);
}

.contacts-hours-subtitle {
	color: var(--dark-mode-main-color);
}

/* ============================ FOOTER ====================== */

.footer {
	padding: 56px 0;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.footer-copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: var(--dark-mode-main-color);
}

.footer-social {
}
